body{
  background-color: bisque;
}

.pdf-container{
    width: 100%;
    height: 400px;
    background-color: #9ef1ca;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-msg{
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
  }
  .form-control{
   height: 30px;
   width: auto;
  }
   
    /*----navbar---*/
    
    /*-----form----*/
    .container{
      margin: 0 auto;
      text-align: center ;
      margin-top: 45px;
      border: 2px dashed #000;
      padding: 20px;
      width: 1000px;
    }
    input[type="file"]{
      height: 35px;
      width: 300px;
      background-color: #f35151;
      border-radius: 20px;
      align-items: center;
      padding: 15px;
      padding-left: 50px;
      font-size: 20px;
    }
    h4{
      height: 30px;
      width: auto;
      background-color: #f35151;
      font-size: 20px;
    }
    
    .custom-file-upload {
      color: rgb(255, 255, 255);
      display: inline-block;
      padding:17px;
      font-size: 14px;
      border-radius: 5px;
      cursor: pointer;
      background-color: #f35151;
      border: none;
      width: 250px;
      margin-top: 20px;
    }

    /* @media only screen and (max-width: 3000px) {
      body {
        background-color: rgb(104, 5, 5);
      }
    }

    @media only screen and (max-width: 2000px) {
      body {
        background-color: rgb(34, 201, 12);
      }
    }

    @media only screen and (max-width: 1200px) {
      body {
        background-color: rgb(168, 194, 20);
      }
    }

    @media only screen and (max-width: 780px) {
      body {
        background-color: rgb(187, 10, 113);
      }
    }

    @media only screen and (max-width: 480px) {
      body {
        background-color: rgb(8, 71, 92);
      }
    } */